<a href="https://colab.research.google.com/github/NITISHSAIKUMAR/MACHINE-LEARNING-PROJECT/blob/master/HEARTPROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

READING DATASET


---

In [0]:
df=pd.read_csv('framingham.csv')

In [3]:
df.head()

   male  age  education  currentSmoker  ...    BMI  heartRate  glucose  TenYearCHD
0     1   39        4.0              0  ...  26.97       80.0     77.0           0
1     0   46        2.0              0  ...  28.73       95.0     76.0           0
2     1   48        1.0              1  ...  25.34       75.0     70.0           0
3     0   61        3.0              1  ...  28.58       65.0    103.0           1
4     0   46        3.0              1  ...  23.10       85.0     85.0           0

[5 rows x 16 columns]

In [4]:
df.shape

(4240, 16)

In [5]:
df.dtypes

male                 int64
age                  int64
education          float64
currentSmoker        int64
cigsPerDay         float64
BPMeds             float64
prevalentStroke      int64
prevalentHyp         int64
diabetes             int64
totChol            float64
sysBP              float64
diaBP              float64
BMI                float64
heartRate          float64
glucose            float64
TenYearCHD           int64
dtype: object

DATA PREPROCESSING

---

In [6]:
df.describe()

              male          age  ...      glucose   TenYearCHD
count  4240.000000  4240.000000  ...  3852.000000  4240.000000
mean      0.429245    49.580189  ...    81.963655     0.151887
std       0.495027     8.572942  ...    23.954335     0.358953
min       0.000000    32.000000  ...    40.000000     0.000000
25%       0.000000    42.000000  ...    71.000000     0.000000
50%       0.000000    49.000000  ...    78.000000     0.000000
75%       1.000000    56.000000  ...    87.000000     0.000000
max       1.000000    70.000000  ...   394.000000     1.000000

[8 rows x 16 columns]

In [0]:
missing_data=df.isnull()

In [8]:
missing_data.head()

    male    age  education  ...  heartRate  glucose  TenYearCHD
0  False  False      False  ...      False    False       False
1  False  False      False  ...      False    False       False
2  False  False      False  ...      False    False       False
3  False  False      False  ...      False    False       False
4  False  False      False  ...      False    False       False

[5 rows x 16 columns]

In [9]:
for column in missing_data.columns.to_list():
  print(column)
  print(missing_data[column].value_counts())

male
False    4240
Name: male, dtype: int64
age
False    4240
Name: age, dtype: int64
education
False    4135
True      105
Name: education, dtype: int64
currentSmoker
False    4240
Name: currentSmoker, dtype: int64
cigsPerDay
False    4211
True       29
Name: cigsPerDay, dtype: int64
BPMeds
False    4187
True       53
Name: BPMeds, dtype: int64
prevalentStroke
False    4240
Name: prevalentStroke, dtype: int64
prevalentHyp
False    4240
Name: prevalentHyp, dtype: int64
diabetes
False    4240
Name: diabetes, dtype: int64
totChol
False    4190
True       50
Name: totChol, dtype: int64
sysBP
False    4240
Name: sysBP, dtype: int64
diaBP
False    4240
Name: diaBP, dtype: int64
BMI
False    4221
True       19
Name: BMI, dtype: int64
heartRate
False    4239
True        1
Name: heartRate, dtype: int64
glucose
False    3852
True      388
Name: glucose, dtype: int64
TenYearCHD
False    4240
Name: TenYearCHD, dtype: int64

In [58]:
df.tail(10)

      male  age  education  ...  heartRate  glucose  TenYearCHD
4226     1   58        1.0  ...       67.0     76.0           1
4227     1   43        4.0  ...       80.0     75.0           0
4228     0   50        1.0  ...       85.0    260.0           0
4231     1   58        3.0  ...       80.0     81.0           0
4232     1   68        1.0  ...       60.0     79.0           1
4233     1   50        1.0  ...       66.0     86.0           1
4234     1   51        3.0  ...       65.0     68.0           0
4237     0   52        2.0  ...       80.0    107.0           0
4238     1   40        3.0  ...       67.0     72.0           0
4239     0   39        3.0  ...       85.0     80.0           0

[10 rows x 16 columns]

In [0]:
df.replace("?",np.nan,inplace=True)

In [0]:
miss_data=[['education','cigsPerDay','totChol','BMI','BPMeds','glucose','heartRate']]

In [0]:
for col in miss_data :
  df[col].replace(np.nan,df[col].mean())

In [14]:
df.tail()

      male  age  education  ...  heartRate  glucose  TenYearCHD
4235     0   48        2.0  ...       84.0     86.0           0
4236     0   44        1.0  ...       86.0      NaN           0
4237     0   52        2.0  ...       80.0    107.0           0
4238     1   40        3.0  ...       67.0     72.0           0
4239     0   39        3.0  ...       85.0     80.0           0

[5 rows x 16 columns]

In [15]:
gmean=df["glucose"].mean()
df["glucose"].replace(np.nan,gmean)

0        77.000000
1        76.000000
2        70.000000
3       103.000000
4        85.000000
           ...
4235     86.000000
4236     81.963655
4237    107.000000
4238     72.000000
4239     80.000000
Name: glucose, Length: 4240, dtype: float64

In [16]:
df.tail()

      male  age  education  ...  heartRate  glucose  TenYearCHD
4235     0   48        2.0  ...       84.0     86.0           0
4236     0   44        1.0  ...       86.0      NaN           0
4237     0   52        2.0  ...       80.0    107.0           0
4238     1   40        3.0  ...       67.0     72.0           0
4239     0   39        3.0  ...       85.0     80.0           0

[5 rows x 16 columns]

In [17]:
df.apply(lambda x: x.fillna(x.mean()),axis=0)

      male  age  education  ...  heartRate     glucose  TenYearCHD
0        1   39        4.0  ...       80.0   77.000000           0
1        0   46        2.0  ...       95.0   76.000000           0
2        1   48        1.0  ...       75.0   70.000000           0
3        0   61        3.0  ...       65.0  103.000000           1
4        0   46        3.0  ...       85.0   85.000000           0
...    ...  ...        ...  ...        ...         ...         ...
4235     0   48        2.0  ...       84.0   86.000000           0
4236     0   44        1.0  ...       86.0   81.963655           0
4237     0   52        2.0  ...       80.0  107.000000           0
4238     1   40        3.0  ...       67.0   72.000000           0
4239     0   39        3.0  ...       85.0   80.000000           0

[4240 rows x 16 columns]

In [18]:
df.mean()

male                 0.429245
age                 49.580189
education            1.979444
currentSmoker        0.494104
cigsPerDay           9.005937
BPMeds               0.029615
prevalentStroke      0.005896
prevalentHyp         0.310613
diabetes             0.025708
totChol            236.699523
sysBP              132.354599
diaBP               82.897759
BMI                 25.800801
heartRate           75.878981
glucose             81.963655
TenYearCHD           0.151887
dtype: float64

In [20]:
df.columns

Index(['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

In [0]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

In [34]:
clean_dataset(df)

      male   age  education  ...  heartRate  glucose  TenYearCHD
0      1.0  39.0        4.0  ...       80.0     77.0         0.0
1      0.0  46.0        2.0  ...       95.0     76.0         0.0
2      1.0  48.0        1.0  ...       75.0     70.0         0.0
3      0.0  61.0        3.0  ...       65.0    103.0         1.0
4      0.0  46.0        3.0  ...       85.0     85.0         0.0
...    ...   ...        ...  ...        ...      ...         ...
4233   1.0  50.0        1.0  ...       66.0     86.0         1.0
4234   1.0  51.0        3.0  ...       65.0     68.0         0.0
4237   0.0  52.0        2.0  ...       80.0    107.0         0.0
4238   1.0  40.0        3.0  ...       67.0     72.0         0.0
4239   0.0  39.0        3.0  ...       85.0     80.0         0.0

[3658 rows x 16 columns]

In [0]:
predictors=df[['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose']]

In [0]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()

In [0]:
y=df['TenYearCHD']

In [38]:
lm.fit(predictors,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
lm.score(predictors,y)

0.1012141522779143

In [0]:
Y=lm.predict(predictors)

In [42]:
lm.score(predictors,Y)

1.0

In [0]:
from sklearn.metrics import mean_squared_error

In [44]:
mean_squared_error(y,Y)

0.11601810953074133

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle

In [0]:
df=shuffle(df)
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:, :-1], df.iloc[:, -1], test_size=0.05)

In [72]:
df.tail(10)

      male  age  education  ...  heartRate  glucose  TenYearCHD
204      0   37        4.0  ...       66.0     84.0           0
2623     0   43        2.0  ...       55.0     83.0           0
3904     0   54        1.0  ...       73.0     87.0           0
2484     0   37        1.0  ...       65.0     67.0           0
2935     0   59        1.0  ...       76.0     68.0           0
3225     0   50        1.0  ...      120.0     67.0           1
1352     1   37        2.0  ...       60.0     85.0           0
168      1   48        1.0  ...       73.0     79.0           1
3553     0   68        3.0  ...      103.0     70.0           0
346      0   53        2.0  ...       90.0     78.0           0

[10 rows x 16 columns]

In [73]:
df.shape

(3658, 16)

In [0]:
x_train = df[:3600]
x_test = df[3600:]
y_train = df[:3600]
y_test = df[3600:]

In [75]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
yhat=lm.predict(x_test)

In [77]:
mean_squared_error(y_test,yhat)

2.3752584621814337e-28

In [78]:
yhat.shape

(58, 16)

In [0]:
yhat[yhat > .5] = 1
yhat[yhat <=.5] = 0

In [0]:
yhat=yhat[:-1]

In [84]:
i=0
count=0
for each in y_test:
    if each==yhat[i]:
        count+=1
    i+=1
accuracy=count/i
print("Linear Regression Result:-")
print("Accuracy = ")
print(accuracy*100)

Linear Regression Result:-
Accuracy =
0.0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  after removing the cwd from sys.path.

In [70]:
df['TenYearCHD'].value_counts()

0    3101
1     557
Name: TenYearCHD, dtype: int64

In [71]:
df.shape

(3658, 16)

In [0]:
X_train = X[:1000]
X_test = X[1000:]
y_train = y[:1000]
y_test = y[1000:]